<div class="landing-container">
  <header>
    <img
      src="https://files.catbox.moe/4iv55r.svg"
      routerLink="/"
      alt="DATA.ROOTS Logo"
      class="logo"
    />
  </header>

  <main>
    <div class="content-text">
      <h2 class="intro">
        Plataforma para criação de relatórios e mapas personalizados a partir
        dos dados do IBGE
      </h2>
      <p>
        Aproveite os modelos gratuitos já disponíveis ou peça uma visualização
        exclusiva pensada para suas necessidades.
      </p>
    </div>
    <div class="div-btns">
      <button class="btn btn-primary" routerLink="/home">Experimentar</button>
      <button class="btn btn-primary-outline" routerLink="/about-details">
        Saber mais
      </button>
    </div>
  </main>

  <footer>
    <p>
      &copy; 2025 DATA ROOTS - Plataforma de visualização de dados do
      agronegócio
    </p>
  </footer>
</div>
