<div class="container">
  <h1>Dashboard PAM - Top Produtos</h1>

  <div class="filters">
    <label>
      Ano:
      <select [(ngModel)]="anoSelecionado" (change)="onFiltroChange()">
        <option *ngFor="let ano of anosDisponiveis" [value]="ano">{{ ano }}</option>
      </select>
    </label>

    <label>
      UF:
      <select [(ngModel)]="ufSelecionado" (change)="onFiltroChange()">
        <option *ngFor="let uf of ufsDisponiveis" [value]="uf">{{ uf }}</option>
      </select>
    </label>
  </div>

  <div *ngIf="loading" class="loading">Carregando dados...</div>

  <div *ngIf="!loading">
    <div echarts [options]="topProdutosOptions" class="chart"></div>
  </div>
</div>
