<!-- home.component.html -->
<div class="home-container">
  <header>
    <img src="assets/logo-hor.svg" alt="DATA ROOTS Logo" class="logo" />
  </header>

  <div class="go-back">
    <button class="btn" routerLink="/">Voltar</button>
  </div>

  <main>
    <div>
      <h2 class="intro">
        Visualize e explore dados do agronegócio de forma interativa e clara.
      </h2>
    </div>
    <div class="home-cards">
      <div class="card">
        <h2>Comparação entre Estados</h2>
        <p>Compare dados de produção entre diferentes estados.</p>
        <button routerLink="/comparing-states" class="btn btn-primary">
          Ir para Comparação
        </button>
      </div>

      <div class="card">
        <h2>Produção por Município</h2>
        <p>
          Visualize a produção anual de diferentes municípios em mapa
          interativo.
        </p>
        <button routerLink="/leaflet-city-production" class="btn btn-primary">
          Ir para Produção
        </button>
      </div>

      <div class="card">
        <h2>Lavoura Permanente</h2>
        <p>Acesse dados detalhados e gráficos sobre culturas permanentes.</p>
        <button routerLink="/permanent-crop" class="btn btn-primary">
          Ir para Dashboard
        </button>
      </div>
    </div>
  </main>

  <footer>
    <p>
      &copy; 2025 DATA ROOTS - Plataforma de visualização de dados do
      agronegócio
    </p>
  </footer>
</div>
