<div class="comparing-container">
  <header>
    <img
      src="https://files.catbox.moe/4iv55r.svg"
      routerLink="/"
      alt="DATA.ROOTS Logo"
      class="logo"
    />
  </header>

  <div class="go-back">
    <button class="btn" routerLink="/home">Voltar</button>
  </div>

  <div class="filters-container">
    <div class="bases">
      <button
        class="permanente"
        [class.active]="selectedTipo === 'permanente'"
        (click)="setTipo('permanente')"
      >
        Permanente
      </button>
      <button
        class="temporaria"
        [class.active]="selectedTipo === 'temporaria'"
        (click)="setTipo('temporaria')"
      >
        Temporária
      </button>
    </div>
    <div class="containers">
      <div>
        <label for="ano">Ano</label>
        <input
          id="ano"
          type="number"
          [(ngModel)]="selectedAno"
          placeholder="Ex: 2020"
          min="1974"
          max="2023"
          (change)="fetchProducts()"
        />
      </div>

      <div>
        <label for="produto">Produto</label>
        <select
          id="produto"
          [(ngModel)]="selectedProduto"
          [disabled]="!selectedAno || loadingCompare"
        >
          <option *ngFor="let produto of produtos" [value]="produto.produto">
            {{ produto.produto }}
          </option>
        </select>
      </div>

      <div class="comparing-btn">
        <button
          class="btn btn-primary"
          (click)="compare()"
          [disabled]="!selectedAno || loadingCompare || !selectedProduto"
        >
          {{ loadingCompare ? "Carregando..." : "Comparar" }}
        </button>
      </div>
    </div>
  </div>

  <div
    class="products-container"
    *ngIf="!loadingCompare && comparison.length > 0"
  >
    <div class="card">
      <h2>Dados por Estado</h2>
      <div class="table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Estado</th>
              <th>Produção (ton)</th>
              <th>Área Colhida (ha)</th>
              <th>Rendimento Médio (kg/ha)</th>
              <th>Valor da Produção (R$)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of comparison">
              <td>{{ c.sigla_uf | ufName }}</td>
              <td>{{ c.total_producao | number : "1.0-2" }} ton</td>
              <td>{{ c.area_colhida | number : "1.0-2" }} ha</td>
              <td>
                {{ c.rendimento_medio_producao | number : "1.0-2" }} kg/ha
              </td>
              <td>
                {{
                  c.valor_producao * 1000
                    | currency : "BRL" : "symbol" : "1.2-2"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card-ia" *ngIf="!loadingCompare && comparison.length > 0">
    <div class="generative-ia">
      <img
        alt="Imagem"
        class="img-card"
        src="https://files.catbox.moe/edvhtl.png"
      />
      <div class="card">
        <span>Já estou com seus dados, deseja gerar um relatório?</span>
      </div>
    </div>
    <div class="div-btn-ia">
      <button
        class="btn btn-ia"
        (click)="gerarAnalise()"
        [disabled]="!comparison.length || loadingIA"
      >
        {{ loadingIA ? "Carregando..." : "Gerar Análise" }}
      </button>
    </div>

    <div *ngIf="resumoAnalise" class="resumo-container">
      <h3>Resumo da Análise:</h3>
      <div [innerHTML]="resumoAnalise"></div>
    </div>
  </div>

  <div *ngIf="comparison.length > 0" class="card">
    <div echarts [options]="chartOptions" class="chart"></div>
  </div>
</div>
