<div class="about-container">
  <header>
    <img
      src="https://files.catbox.moe/4iv55r.svg"
      routerLink="/"
      alt="DATA.ROOTS Logo"
      class="logo"
    />
  </header>

  <div class="go-back">
    <button class="btn" routerLink="/">Voltar</button>
  </div>

  <main>
    <div class="content-center">
      <div class="content-top">
        <img
          src="https://files.catbox.moe/gu2kgo.png"
          alt="colheita"
          class="grow"
        />
        <div class="text-top">
          <h2>Data Roots: Explorando Dados do Campo</h2>
          <p>
            A aplicação Data Roots é fruto de um desafio técnico que utiliza
            dados públicos do BigQuery/IBGE, com foco em lavouras permanentes e
            temporárias. Desenvolvida em curto prazo, cumpre os requisitos do
            projeto e ainda oferece análises adicionais com Inteligência
            Artificial.
          </p>
        </div>
      </div>
      <div class="content-down">
        <div class="card" *ngFor="let item of items">
          <img [src]="item.url" alt="Imagem" class="img-card" />
          <div>
            <h4>{{ item.titulo }}</h4>
            <span>{{ item.descricao }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>
      &copy; 2025 DATA ROOTS - Plataforma de visualização de dados do
      agronegócio
    </p>
  </footer>
</div>
