<div class="dashboard-container">
  <header>
    <img src="https://files.catbox.moe/4iv55r.svg" alt="DATA.ROOTS Logo" class="logo" />
  </header>

  <div class="go-back">
    <button class="btn" routerLink="/home">Voltar</button>
  </div>

  <div class="filters-container">
    <div class="bases">
      <button
        class="permanente"
        [class.active]="selectedTipo === 'permanente'"
        (click)="setTipo('permanente')"
      >
        Permanente
      </button>
      <button
        class="temporaria"
        [class.active]="selectedTipo === 'temporaria'"
        (click)="setTipo('temporaria')"
      >
        Temporária
      </button>
    </div>

    <div class="containers">
      <div>
        <label for="uf">Estados</label>
        <select id="uf" [(ngModel)]="selectedUF">
          <option value="" disabled selected>Escolha o estado</option>
          <option *ngFor="let uf of ufs" [value]="uf.sigla_uf">
            {{ uf.sigla_uf | ufName }}
          </option>
        </select>
      </div>

      <div class="filter-card year-search">
        <label for="ano">Ano</label>
        <div class="year-input-button">
          <input
            id="ano"
            type="number"
            [(ngModel)]="selectedAno"
            placeholder="Ex: 1988"
            value="2023"
            min="1974"
            max="2023"
          />
        </div>
      </div>
      <div class="div-btn">
        <button
          class="btn btn-primary"
          (click)="buscarProdutos()"
          [disabled]="!selectedProduto && !selectedAno"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>

  <div class="products-container" *ngIf="produtos.length">
    <h2>Selecione um Produto</h2>
    <div class="products-grid master-card">
      <div
        class="mini-card card"
        *ngFor="let p of produtos"
        (click)="selectProduto(p.produto)"
        [class.active]="selectedProduto === p.produto"
      >
        <strong>{{ p.produto }}</strong
        ><br />
        Produção total: <br />
        {{ p.quantidade_total | number : "1.0-0" }} Ton
      </div>
    </div>
  </div>
  <div id="map" class="map-container"></div>
</div>
